:root {
  --primary-color: #fcedda;
  --secondary-color: #ee4e34;
}

* {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Oswald", sans-serif;
}

.hosts,
.attending-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
  justify-content: center;
  max-width: 808px;
}